.CLion2019.3/
.GoLand2019.3/

.vim/plugged/
.vim/undodir/

.config/*
!.config/i3/
!.config/dunst/
!.config/micro/*.json
!.config/polybar/
!.config/nvim/
!.config/font*
!.config/rofi/
!.config/libvirt
# !.config/google-chrome-unstable/Default/Extensions
# !.config/google-chrome-unstable/Default/Preferences

google-chrome*
